// Configuraciones

// Colores, se utilizan en los componentes
$primary-color: #7d62ff;
$secondary-color: #ffff;
$bg: #ffff;
$secondary-bg: lighten($bg, 10%);

// Breakpoints
$screen-sm: 32em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 90em;

$base: false;

// Breakpoints Map
$breakpoints: (
  xm: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);
