primary_color = red;
secondary_color = red;
bg = #000;
secondary_bg = red;
// Breakpoints
screen_sm = 32em;
screen_md = 48em;
screen_lg = 64em;
screen_xl = 90em;
breakpoints = {
    xm: 0,
    sm: screen_sm,
    md: screen_md,
    lg: screen_lg,
    xl: screen_xl
};