@mixin acss_main-btn {
	padding: 0.5rem 0.7rem;
	margin: 8px 0;
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: 0.1s;
	outline: none;
	text-decoration: none;
	font-size: 1rem;
	&:active {
		transform: scale(0.98);
	}
}

@mixin btn($bg: #000, $color: #fff) {
	@include acss_main-btn;
	background-color: $bg;
	border: 1px solid $bg;
	color: $color;
	&:hover {
		background-color: darken($bg, 6%);
		border: 1px solid darken($bg, 6%);
	}
}