@mixin text-gradient($linear-gradient: linear-gradient(red, blue)) {
    background: $linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}