_center() {
	display: flex;
	align-items: center;
	justify-content: center;
}
_center-x() {
	display: flex;
	justify-content: center;
}
_center-y() {
	display: flex;
	align-items: center;
}
_top() {
	display: flex;
	align-items: flex-start;
}
_bottom() {
	display: flex;
	align-items: flex-end;
}
_left() {
	display: flex;
	justify-content: flex-start;
}
_right() {
	display: flex;
	justify-content: flex-end;
}
_text-center() {
	text-align: center;
}
_text-left() {
	text-align: left;
}
_text-right() {
	text-align: right;
}