center() {
	display: flex;
	align-items: center;
	justify-content: center;
}
center-x() {
	display: flex;
	justify-content: center;
}
center-y() {
	display: flex;
	align-items: center;
}
top() {
	display: flex;
	align-items: flex-start;
}
bottom() {
	display: flex;
	align-items: flex-end;
}
left() {
	display: flex;
	justify-content: flex-start;
}
right() {
	display: flex;
	justify-content: flex-end;
}
text-center() {
	text-align: center;
}
text-left() {
	text-align: left;
}
text-right() {
	text-align: right;
}