// Separar string y convertir en lista
/// @param {string} $string - String a separar
/// @param {string} $separator - Especifica el caracter a usar para la separación de la cadena. 
/// @return {list};
@function str-split($string, $separator) {
	$split-arr: ();
	$index: str-index($string, $separator);
	@while $index != null {
		$item: str-slice($string, 1, $index - 1);
		$split-arr: append($split-arr, $item);
		$string: str-slice($string, $index + 1);
		$index: str-index($string, $separator);
	}
	$split-arr: append($split-arr, $string);

	@return $split-arr;
}