---
layout: layouts/main.html
---
<div class="row">
    <div class="col-100 lg:col-20" style="border-right: 1px solid #e8e7e7;">
        <div class="x-sidebar lg:block hidden" id="x-sidebar">
            <button class="btn-danger lg:hidden block" onclick="xSideparOpen()">Cerrar</button>
            <input type="text" class="form-input" id="buscar" placeholder="Buscar..." oninput="buscar()"><br>
            <div id="resultados-de-busqueda">
            </div>
            <div id="docs-items">
                <h3>Comenzar</h3>
                <div>
                    <a href="{{main.baseurl}}/documentacion/instalacion" class="sidebar-link block color-200 {{instalacion_active}}">Instalación</a>
                    <a href="{{main.baseurl}}/documentacion/breakpoints" class="sidebar-link mt-5 block color-200 {{breakpoint_active}}">Breakpoints</a>
                </div>
                <h3>Grid System</h3>
                <div>
                    <a href="{{main.baseurl}}/documentacion/grid/flexbox" class="sidebar-link block color-200 {{flexbox_active}}">Flexbox</a>
                    <a href="{{main.baseurl}}/documentacion/grid/css-grid" class="sidebar-link block mt-5 color-200 {{cssgrid_active}}">CSS Grid</a>
                    <a href="{{main.baseurl}}/documentacion/grid/css-grid-con-js" class="sidebar-link block mt-5 color-200 {{cssgridjs_active}}">CSS Grid con JS</a>
                </div>
                <h3>Layout</h3>
                <div>
                    <a href="{{main.baseurl}}/documentacion/layout/alineacion" class="sidebar-link color-200 block {{alineacion_active}}">Alineación</a>
                    <a href="{{main.baseurl}}/documentacion/layout/espaciado"
                        class="sidebar-link color-200 block mt-5 {{espaciado_active}}">Espaciado</a>
                    <a href="{{main.baseurl}}/documentacion/layout/display"
                        class="sidebar-link color-200 block mt-5 {{display_active}}">Display</a>
                    <a href="{{main.baseurl}}/documentacion/layout/posicion"
                        class="sidebar-link color-200 block mt-5 {{posicion_active}}">Posición</a>
                </div>
                <h3>Componentes</h3>
                <div>
                    <a href="{{main.baseurl}}/documentacion/componentes/botones" class="sidebar-link color-200 block {{botones_active}}">Botones</a>
                    <a href="{{main.baseurl}}/documentacion/componentes/formulario"
                        class="sidebar-link color-200 block mt-5 {{formulario_active}}">Formulario</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-100 lg:col-80">
        <div class="heigth-nav o-auto">
            <div class="container">
                <button class="btn-info lg:hidden block" id="sidebar-btn" onclick="xSideparOpen()">Ver mas</button>
                {{ content | safe }}
            </div>
        </div>
    </div>
</div>